{"openapi":"3.1.0","info":{"title":"Air Quality API v2.0 by Almaty Air Initiative","description":"Comprehensive air quality monitoring API providing real-time and historical data for Almaty, Kazakhstan. Access measurements from AirGradient (172 locations), IQAir (97 stations), and other monitoring networks.\n\n**Data Quality:** All endpoints return validated measurements by default. Raw endpoints provide complete datasets including unvalidated records.\n\n**Timezone:** All timestamps are in Asia/Almaty timezone (UTC+05:00).\n\n**Rate Limits:** 100 requests per minute per IP address.\n\n**Response Format:** JSON with ISO 8601 timestamps and standardized units.\n\n**Inspired by air, made with care**  \n[LinkedIn](https://www.linkedin.com/in/alibekturgunov/) | [Email](mailto:a.turgunov@air.org.kz)","version":"2.0.0"},"servers":[{"url":"https://api.air.org.kz","description":"Production API"}],"paths":{"/api/pm25/hourly":{"get":{"tags":["pm25"],"summary":"Get Pm25 Hourly","description":"Get PM2.5 hourly data with optional filters.","operationId":"get_pm25_hourly_api_pm25_hourly_get","parameters":[{"name":"id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"}},{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"}},{"name":"origin","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm25/hourly/latest":{"get":{"tags":["pm25"],"summary":"Get Latest Pm25 Hourly","description":"Get latest PM2.5 hourly data for each station.","operationId":"get_latest_pm25_hourly_api_pm25_hourly_latest_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/PM25Hourly"},"type":"array","title":"Response Get Latest Pm25 Hourly Api Pm25 Hourly Latest Get"}}}}}}},"/api/pm25/hourly/historical":{"get":{"tags":["pm25"],"summary":"Get Historical Pm25 Hourly","description":"Получить исторические данные PM2.5 для всех станций на конкретное время.\nИдеально подходит для слайдера временной карты.\n\nВозвращает данные за указанное время (±30 минут) для каждой станции.\nЕсли данных на точное время нет, возвращает ближайшие доступные данные.\n\nОграничения:\n- Данные доступны только за последние 48 часов\n- Время должно быть в формате ISO 8601","operationId":"get_historical_pm25_hourly_api_pm25_hourly_historical_get","parameters":[{"name":"datetime_target","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Целевое время для получения исторических данных (ISO 8601 format, например: 2025-10-09T15:00:00)","title":"Datetime Target"},"description":"Целевое время для получения исторических данных (ISO 8601 format, например: 2025-10-09T15:00:00)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PM25Hourly"},"title":"Response Get Historical Pm25 Hourly Api Pm25 Hourly Historical Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm25/hourly/historical/extended":{"get":{"tags":["pm25"],"summary":"Get Historical Pm25 Hourly Extended","description":"Получить исторические данные PM2.5 для всех станций на конкретное время (РАСШИРЕННАЯ ВЕРСИЯ).\n\nВключает данные из:\n- IQAir и других источников (таблица hourly)\n- AirGradient сенсоров (172 локации)\n\nВозвращает данные за указанное время (±30 минут) для каждой станции.\nЕсли данных на точное время нет, возвращает ближайшие доступные данные.\n\nОграничения:\n- Данные доступны только за последние 48 часов\n- Время должно быть в формате ISO 8601","operationId":"get_historical_pm25_hourly_extended_api_pm25_hourly_historical_extended_get","parameters":[{"name":"datetime_target","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Целевое время для получения исторических данных (ISO 8601 format, например: 2025-10-09T15:00:00)","title":"Datetime Target"},"description":"Целевое время для получения исторических данных (ISO 8601 format, например: 2025-10-09T15:00:00)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PM25Hourly"},"title":"Response Get Historical Pm25 Hourly Extended Api Pm25 Hourly Historical Extended Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm25/calendar":{"get":{"tags":["pm25","Аналитика"],"summary":"Get Calendar Data","description":"Получение среднесуточных данных PM2.5 по конкретному району или всему городу за указанный год.\nДанные группируются по дням и могут использоваться для календарного представления.\n\nПараметры:\n- district: конкретный район\n- city_wide=true: среднее по всему городу (только 8 основных районов, исключая пригороды)\n- Если ничего не указано: все данные включая пригороды\n\nИсточник данных: таблица hourly (среднесуточные рассчитываются из почасовых данных)","operationId":"get_calendar_data_api_pm25_calendar_get","parameters":[{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Район города (Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay). Если не указан, возвращаются данные по всему городу.","title":"District"},"description":"Район города (Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay). Если не указан, возвращаются данные по всему городу."},{"name":"city_wide","in":"query","required":false,"schema":{"type":"boolean","description":"Среднее по всему городу (только 8 основных районов, исключая пригороды)","default":false,"title":"City Wide"},"description":"Среднее по всему городу (только 8 основных районов, исключая пригороды)"},{"name":"year","in":"query","required":true,"schema":{"type":"integer","maximum":2026,"minimum":2019,"description":"Год (например, 2023)","title":"Year"},"description":"Год (например, 2023)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarItem"},"title":"Response Get Calendar Data Api Pm25 Calendar Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm25/hourly/raw":{"get":{"tags":["pm25","Raw Data"],"summary":"Get Pm25 Hourly Raw","description":"Get PM2.5 hourly data with optional filters. Includes invalid data by default.","operationId":"get_pm25_hourly_raw_api_pm25_hourly_raw_get","parameters":[{"name":"id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"}},{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"}},{"name":"origin","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To"}},{"name":"include_invalid","in":"query","required":false,"schema":{"type":"boolean","description":"Включить невалидные данные","default":true,"title":"Include Invalid"},"description":"Включить невалидные данные"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm25/hourly/latest/raw":{"get":{"tags":["pm25","Raw Data"],"summary":"Get Latest Pm25 Hourly Raw","description":"Get latest PM2.5 hourly data for each station. Includes invalid data by default.","operationId":"get_latest_pm25_hourly_raw_api_pm25_hourly_latest_raw_get","parameters":[{"name":"include_invalid","in":"query","required":false,"schema":{"type":"boolean","description":"Включить невалидные данные","default":true,"title":"Include Invalid"},"description":"Включить невалидные данные"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PM25Hourly"},"title":"Response Get Latest Pm25 Hourly Raw Api Pm25 Hourly Latest Raw Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm10/hourly":{"get":{"tags":["pm10"],"summary":"Get Pm10 Hourly","description":"Get PM10 hourly data with optional filters.","operationId":"get_pm10_hourly_api_pm10_hourly_get","parameters":[{"name":"id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"}},{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"}},{"name":"origin","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/pm10/hourly/latest":{"get":{"tags":["pm10"],"summary":"Get Latest Pm10 Hourly","description":"Get latest PM10 hourly data for each station.","operationId":"get_latest_pm10_hourly_api_pm10_hourly_latest_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/PM10Hourly"},"type":"array","title":"Response Get Latest Pm10 Hourly Api Pm10 Hourly Latest Get"}}}}}}},"/api/pm10/calendar":{"get":{"tags":["pm10","Аналитика"],"summary":"Get Calendar Data","description":"Получение среднесуточных данных PM10 по конкретному району или всему городу за указанный год.\nДанные группируются по дням и могут использоваться для календарного представления.\n\nДоступные районы: Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay.\nЕсли район не указан, возвращаются усредненные данные по всему городу.\n\nДанные доступны с 2022-08-26 по текущую дату.","operationId":"get_calendar_data_api_pm10_calendar_get","parameters":[{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Район города (Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay). Если не указан, возвращаются данные по всему городу.","title":"District"},"description":"Район города (Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay). Если не указан, возвращаются данные по всему городу."},{"name":"year","in":"query","required":true,"schema":{"type":"integer","maximum":2025,"minimum":2022,"description":"Год (например, 2025)","title":"Year"},"description":"Год (например, 2025)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarItem"},"title":"Response Get Calendar Data Api Pm10 Calendar Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/no2/hourly":{"get":{"tags":["no2"],"summary":"Get No2 Hourly","description":"Get NO2 hourly data with optional filters.","operationId":"get_no2_hourly_api_no2_hourly_get","parameters":[{"name":"id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"}},{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"}},{"name":"origin","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"}},{"name":"year","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","maximum":2026,"minimum":2022},{"type":"null"}],"description":"Год (например, 2023)","title":"Year"},"description":"Год (например, 2023)"},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"To"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"default":100,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/no2/hourly/latest":{"get":{"tags":["no2"],"summary":"Get Latest No2 Hourly","description":"Get latest NO2 hourly data for each station.","operationId":"get_latest_no2_hourly_api_no2_hourly_latest_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/NO2Hourly"},"type":"array","title":"Response Get Latest No2 Hourly Api No2 Hourly Latest Get"}}}}}}},"/api/no2/hourly/historical":{"get":{"tags":["no2"],"summary":"Get Historical No2 Hourly","description":"Получить исторические данные NO2 для всех станций на конкретное время.\nИдеально подходит для слайдера временной карты.\n\nВозвращает данные за указанное время (±30 минут) для каждой станции.\nЕсли данных на точное время нет, возвращает ближайшие доступные данные.\n\nОграничения:\n- Данные доступны только за последние 48 часов\n- Время должно быть в формате ISO 8601","operationId":"get_historical_no2_hourly_api_no2_hourly_historical_get","parameters":[{"name":"datetime_target","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Целевое время для получения исторических данных (ISO 8601 format, например: 2025-10-09T15:00:00)","title":"Datetime Target"},"description":"Целевое время для получения исторических данных (ISO 8601 format, например: 2025-10-09T15:00:00)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NO2Hourly"},"title":"Response Get Historical No2 Hourly Api No2 Hourly Historical Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/no2/calendar":{"get":{"tags":["no2","Аналитика"],"summary":"Get Calendar Data","description":"Получение среднесуточных данных NO2 по конкретному району или всему городу за указанный год.\nДанные группируются по дням и могут использоваться для календарного представления.\n\nПараметры:\n- district: конкретный район\n- city_wide=true: среднее по всему городу (только 8 основных районов, исключая пригороды)\n- Если ничего не указано: все данные включая пригороды","operationId":"get_calendar_data_api_no2_calendar_get","parameters":[{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Район города (Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay). Если не указан, возвращаются данные по всему городу.","title":"District"},"description":"Район города (Turksib, Zhetysu, Alatau, Medeu, Almaly, Auezov, Bostandyq, Nauryzbay). Если не указан, возвращаются данные по всему городу."},{"name":"city_wide","in":"query","required":false,"schema":{"type":"boolean","description":"Среднее по всему городу (только 8 основных районов, исключая пригороды)","default":false,"title":"City Wide"},"description":"Среднее по всему городу (только 8 основных районов, исключая пригороды)"},{"name":"year","in":"query","required":true,"schema":{"type":"integer","maximum":2026,"minimum":2022,"description":"Год (например, 2025)","title":"Year"},"description":"Год (например, 2025)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarItem"},"title":"Response Get Calendar Data Api No2 Calendar Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/airgradient/hourly":{"get":{"tags":["airgradient"],"summary":"Get Airgradient Hourly","description":"Get AirGradient hourly sensor data with optional filters and pagination.\n\nReturns comprehensive air quality data including:\n- PM1.0, PM2.5, PM10 (both original and corrected values)\n- Temperature and humidity (both original and corrected)\n- TVOC and NOx indices (unique to AirGradient sensors)\n- Location metadata (coordinates, model, firmware version)\n\nAll timestamps are in Asia/Almaty timezone (UTC+05:00).","operationId":"get_airgradient_hourly_api_airgradient_hourly_get","parameters":[{"name":"locationid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by location ID","title":"Locationid"},"description":"Filter by location ID"},{"name":"locationname","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by location name (partial match)","title":"Locationname"},"description":"Filter by location name (partial match)"},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Start datetime (ISO 8601)","title":"From"},"description":"Start datetime (ISO 8601)"},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"End datetime (ISO 8601)","title":"To"},"description":"End datetime (ISO 8601)"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records to return","default":100,"title":"Limit"},"description":"Maximum number of records to return"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Offset"},"description":"Number of records to skip"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AirGradientPaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/airgradient/latest":{"get":{"tags":["airgradient"],"summary":"Get Latest Airgradient","description":"Get latest AirGradient sensor data for each location.\n\nReturns the most recent measurement from each active AirGradient sensor,\nincluding all air quality parameters, coordinates, and district information.\n\nOnly returns data for locations where is_valid = true.","operationId":"get_latest_airgradient_api_airgradient_latest_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/airgradient/hourly/historical":{"get":{"tags":["airgradient"],"summary":"Get Historical Airgradient","description":"Get historical AirGradient data for all locations at a specific time.\n\nPerfect for time slider functionality on maps and historical analysis.\nReturns data closest to the specified time (within ±30 minutes) for each location.\n\nLimitations:\n- Data available for the last 126 days (since 2025-08-05)\n- Maximum time difference: 30 minutes from target\n- Future requests limited to 1 hour ahead","operationId":"get_historical_airgradient_api_airgradient_hourly_historical_get","parameters":[{"name":"datetime_target","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Target datetime for historical data (ISO 8601 format)","title":"Datetime Target"},"description":"Target datetime for historical data (ISO 8601 format)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AirGradientDataWithLocation"},"title":"Response Get Historical Airgradient Api Airgradient Hourly Historical Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/airgradient/calendar":{"get":{"tags":["airgradient"],"summary":"Get Airgradient Calendar","description":"Get daily averaged AirGradient data for calendar visualization.\n\nReturns aggregated daily statistics including PM2.5, PM10, temperature,\nhumidity, TVOC, and NOx indices for the specified year.\n\nCan be filtered by specific location or return city-wide averages.\nUses corrected values for PM measurements for better accuracy.","operationId":"get_airgradient_calendar_api_airgradient_calendar_get","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","maximum":2026,"minimum":2025,"description":"Year (e.g., 2025)","title":"Year"},"description":"Year (e.g., 2025)"},{"name":"locationid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by specific location ID","title":"Locationid"},"description":"Filter by specific location ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AirGradientCalendarItem"},"title":"Response Get Airgradient Calendar Api Airgradient Calendar Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/airgradient/locations":{"get":{"tags":["airgradient"],"summary":"Get Airgradient Locations","description":"Get list of all AirGradient monitoring locations.\n\nReturns comprehensive metadata for each sensor location including:\n- Location ID and name\n- GPS coordinates\n- Device model and serial number\n- Firmware version\n- Location type (indoor/outdoor)\n\nBy default, only returns locations with available data.","operationId":"get_airgradient_locations_api_airgradient_locations_get","parameters":[{"name":"with_data","in":"query","required":false,"schema":{"type":"boolean","description":"Only return locations that have data","default":true,"title":"With Data"},"description":"Only return locations that have data"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/airgradient/stats":{"get":{"tags":["airgradient"],"summary":"Get Airgradient Stats","description":"Get daily statistics for AirGradient sensors.\n\nReturns comprehensive daily aggregates including:\n- PM2.5, PM10 statistics (corrected values)\n- Temperature and humidity statistics\n- TVOC and NOx index statistics\n- Number of measurements per day\n\nStatistics include minimum, maximum, and average values for each parameter.\nUses corrected sensor values for improved accuracy.","operationId":"get_airgradient_stats_api_airgradient_stats_get","parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"Start date (YYYY-MM-DD)","title":"Start Date"},"description":"Start date (YYYY-MM-DD)"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"End date (YYYY-MM-DD)","title":"End Date"},"description":"End date (YYYY-MM-DD)"},{"name":"locationid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by location ID","title":"Locationid"},"description":"Filter by location ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AirGradientStats"},"title":"Response Get Airgradient Stats Api Airgradient Stats Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/iqair/hourly":{"get":{"tags":["iqair"],"summary":"Get Iqair Hourly","description":"Get IQAir hourly data with optional filters and pagination.\n\nReturns air quality data including AQI, PM2.5, PM10, NO2, SO2, CO.\nAll timestamps are in Asia/Almaty timezone (UTC+05:00).","operationId":"get_iqair_hourly_api_iqair_hourly_get","parameters":[{"name":"station_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by station ID","title":"Station Id"},"description":"Filter by station ID"},{"name":"station_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by station name (partial match)","title":"Station Name"},"description":"Filter by station name (partial match)"},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Start datetime (ISO 8601)","title":"From"},"description":"Start datetime (ISO 8601)"},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"End datetime (ISO 8601)","title":"To"},"description":"End datetime (ISO 8601)"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Maximum number of records","default":100,"title":"Limit"},"description":"Maximum number of records"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of records to skip","default":0,"title":"Offset"},"description":"Number of records to skip"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IQAirPaginatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/iqair/latest":{"get":{"tags":["iqair"],"summary":"Get Latest Iqair","description":"Get latest IQAir data for each station.\n\nReturns the most recent measurement from each active IQAir station,\nincluding coordinates and station metadata.\n\nПараметры:\n- with_pm25=true: вернуть только станции у которых есть данные PM2.5 на последнем timestamp\n\nAll timestamps are in Asia/Almaty timezone (UTC+05:00).","operationId":"get_latest_iqair_api_iqair_latest_get","parameters":[{"name":"with_pm25","in":"query","required":false,"schema":{"type":"boolean","description":"Только станции с данными PM2.5 на последнем timestamp","default":false,"title":"With Pm25"},"description":"Только станции с данными PM2.5 на последнем timestamp"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/iqair/hourly/historical":{"get":{"tags":["iqair"],"summary":"Get Historical Iqair","description":"Get historical IQAir data for all stations at a specific time.\n\nReturns data closest to the specified time (within ±30 minutes) for each station.\nPerfect for time slider functionality on maps.","operationId":"get_historical_iqair_api_iqair_hourly_historical_get","parameters":[{"name":"datetime_target","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Target datetime (ISO 8601 format)","title":"Datetime Target"},"description":"Target datetime (ISO 8601 format)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IQAirDataWithStation"},"title":"Response Get Historical Iqair Api Iqair Hourly Historical Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/iqair/stations":{"get":{"tags":["iqair"],"summary":"Get Iqair Stations","description":"Get list of all IQAir monitoring stations.\n\nReturns station metadata including coordinates, source, and contributor info.","operationId":"get_iqair_stations_api_iqair_stations_get","parameters":[{"name":"active_only","in":"query","required":false,"schema":{"type":"boolean","description":"Only return active stations","default":true,"title":"Active Only"},"description":"Only return active stations"},{"name":"with_data","in":"query","required":false,"schema":{"type":"boolean","description":"Only return stations with data","default":true,"title":"With Data"},"description":"Only return stations with data"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IQAirStation"},"title":"Response Get Iqair Stations Api Iqair Stations Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/iqair/calendar":{"get":{"tags":["iqair"],"summary":"Get Iqair Calendar","description":"Get daily averaged IQAir data for calendar visualization.\n\nReturns aggregated daily statistics for AQI, PM2.5, PM10, NO2, SO2, CO.","operationId":"get_iqair_calendar_api_iqair_calendar_get","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","maximum":2026,"minimum":2024,"description":"Year (e.g., 2025)","title":"Year"},"description":"Year (e.g., 2025)"},{"name":"station_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by station ID","title":"Station Id"},"description":"Filter by station ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IQAirCalendarItem"},"title":"Response Get Iqair Calendar Api Iqair Calendar Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/iqair/stats":{"get":{"tags":["iqair"],"summary":"Get Iqair Stats","description":"Get daily statistics for IQAir stations.\n\nReturns min, max, and average values for AQI, PM2.5, PM10.","operationId":"get_iqair_stats_api_iqair_stats_get","parameters":[{"name":"start_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"Start date (YYYY-MM-DD)","title":"Start Date"},"description":"Start date (YYYY-MM-DD)"},{"name":"end_date","in":"query","required":true,"schema":{"type":"string","format":"date","description":"End date (YYYY-MM-DD)","title":"End Date"},"description":"End date (YYYY-MM-DD)"},{"name":"station_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by station ID","title":"Station Id"},"description":"Filter by station ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IQAirStats"},"title":"Response Get Iqair Stats Api Iqair Stats Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/city/average":{"get":{"tags":["city"],"summary":"Get City Average","description":"Get real-time average air quality for Almaty city.\n\nCombines latest data from:\n- AirGradient: 142 stations in 8 city districts\n- IQAir: 82 stations in Almaty city\n\nExcludes suburban areas (Talgar, Kaskelen, Ili districts).\n\nReturns average PM2.5, PM10, and AQI values.","operationId":"get_city_average_api_city_average_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/city/districts":{"get":{"tags":["city"],"summary":"Get Districts Average","description":"Get real-time average air quality by district for Almaty city.\n\nReturns PM2.5, PM10 averages for each of 8 city districts,\ncombining data from AirGradient and IQAir networks.\n\nDistricts: Турксибский, Алатауский, Медеуский, Бостандыкский,\nНаурызбайский, Жетысуский, Алмалинский, Ауэзовский.","operationId":"get_districts_average_api_city_districts_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/stations":{"get":{"tags":["stations"],"summary":"Get Stations","description":"Get a list of all stations with coordinates and type (valid stations only).","operationId":"get_stations_api_stations_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Station"},"type":"array","title":"Response Get Stations Api Stations Get"}}}}}}},"/api/stations/raw":{"get":{"tags":["stations","Raw Data"],"summary":"Get Stations Raw","description":"Get a list of all stations with coordinates and type. Includes invalid stations by default.","operationId":"get_stations_raw_api_stations_raw_get","parameters":[{"name":"include_invalid","in":"query","required":false,"schema":{"type":"boolean","description":"Включить невалидные данные","default":true,"title":"Include Invalid"},"description":"Включить невалидные данные"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Station"},"title":"Response Get Stations Raw Api Stations Raw Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/stats/daily":{"get":{"tags":["stats"],"summary":"Get Daily Stats","description":"Get aggregated PM2.5 values by day, by district or station.","operationId":"get_daily_stats_api_stats_daily_get","parameters":[{"name":"district","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"}},{"name":"station_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Station Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailyStats"},"title":"Response Get Daily Stats Api Stats Daily Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/metrics/graph/{site_id}":{"get":{"tags":["metrics"],"summary":"Get Metrics Graph","description":"Возвращает массив объектов для построения графика по категориям.\n\nФормат ответа:\n[\n  { \"time\": \"2025-09-01T00:00:00Z\", \"Mold\": 5566.11, \"Other Particulate\": 104341, \"Pollen\": 0 },\n  ...\n]\n\nОбработка ошибок:\n- Если внешний API не отвечает/ошибка сети -> 502 Bad Gateway\n- Если данных недостаточно/некорректны -> возвращаем пустой массив","operationId":"get_metrics_graph_api_metrics_graph__site_id__get","parameters":[{"name":"site_id","in":"path","required":true,"schema":{"type":"string","description":"ID сенсора (пример: 425E8DBA-6CB2-4D44-8CAE-EDE7AA2A17CA)","title":"Site Id"},"description":"ID сенсора (пример: 425E8DBA-6CB2-4D44-8CAE-EDE7AA2A17CA)"},{"name":"interval","in":"query","required":false,"schema":{"type":"string","description":"Интервал агрегации (hour/day/week)","default":"hour","title":"Interval"},"description":"Интервал агрегации (hour/day/week)"},{"name":"starting","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Начало интервала в ISO 8601","title":"Starting"},"description":"Начало интервала в ISO 8601"},{"name":"ending","in":"query","required":true,"schema":{"type":"string","format":"date-time","description":"Конец интервала в ISO 8601","title":"Ending"},"description":"Конец интервала в ISO 8601"},{"name":"debug","in":"query","required":false,"schema":{"type":"boolean","description":"Включить отладочную информацию","default":false,"title":"Debug"},"description":"Включить отладочную информацию"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":true},"title":"Response Get Metrics Graph Api Metrics Graph  Site Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/metrics/daily-comparison":{"get":{"tags":["metrics"],"summary":"Get Daily Comparison","description":"Возвращает сравнение PM2.5 по часам за текущий и вчерашний день.\n\nИсточник данных: AirGradient (airgradient_data).\nТаймзона: Asia/Almaty (UTC+5) с +1 час offset для отображения.\n\nФормат ответа:\n[\n  {\n    \"hour\": 0,\n    \"datetime_current\": \"2025-12-23T01:00:00+05:00\",\n    \"datetime_previous\": \"2025-12-22T01:00:00+05:00\", \n    \"pm25_current\": 45.2,\n    \"pm25_previous\": 52.7\n  },\n  ...\n]","operationId":"get_daily_comparison_api_metrics_daily_comparison_get","parameters":[{"name":"debug","in":"query","required":false,"schema":{"type":"boolean","description":"Включить отладочную информацию","default":false,"title":"Debug"},"description":"Включить отладочную информацию"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":true},"title":"Response Get Daily Comparison Api Metrics Daily Comparison Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/ratings/districts":{"get":{"tags":["ratings"],"summary":"Рейтинг районов по чистоте (PM2.5, NO2)","description":"Возвращает последние доступные измерения PM2.5 и NO2 по каждому району,\nусреднённые по всем станциям района, и отсортированные по чистоте (сначала чище).\n\nПравила:\n- Берём последнюю доступную `datetime` отдельно для каждого района (is_valid = true)\n- Усредняем PM2.5 и NO2 по всем станциям на этой отметке времени\n- По умолчанию считаем только 8 основных районов Алматы (без пригородов)\n- Сортировка: по возрастанию PM2.5, затем NO2\n- Время в ответе в часовом поясе Алматы (+05:00)","operationId":"get_district_ratings_api_ratings_districts_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":20,"minimum":1,"description":"Сколько районов вернуть","default":8,"title":"Limit"},"description":"Сколько районов вернуть"},{"name":"include_suburbs","in":"query","required":false,"schema":{"type":"boolean","description":"Включать пригороды/прочие районы","default":false,"title":"Include Suburbs"},"description":"Включать пригороды/прочие районы"},{"name":"debug","in":"query","required":false,"schema":{"type":"boolean","description":"Вернуть диагностическую информацию","default":false,"title":"Debug"},"description":"Вернуть диагностическую информацию"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/historical/timeline":{"get":{"tags":["historical"],"summary":"Get Historical Timeline","description":"Получить доступные временные метки за последние 48 часов для слайдера карты.\n\nВозвращает список уникальных временных меток, когда есть данные PM2.5 или NO2,\nотсортированный по времени (от новых к старым).\n\nФормат ответа:\n[\n    {\n        \"datetime\": \"2025-10-14T16:00:00+05:00\",\n        \"pm25_stations\": 150,\n        \"no2_stations\": 120,\n        \"total_stations\": 180\n    }\n]","operationId":"get_historical_timeline_api_historical_timeline_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"additionalProperties":true,"type":"object"},"type":"array","title":"Response Get Historical Timeline Api Historical Timeline Get"}}}}}}},"/api/historical/available-hours":{"get":{"tags":["historical"],"summary":"Get Available Hours","description":"Получить доступные часы для конкретной даты.\n\nПолезно для построения детального слайдера по часам в течение дня.\n\nПараметры:\n- date: дата в формате YYYY-MM-DD (например: 2025-10-09)\n\nВозвращает список часов в формате HH:00 (например: [\"14:00\", \"15:00\", \"16:00\"])","operationId":"get_available_hours_api_historical_available_hours_get","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","description":"Дата в формате YYYY-MM-DD","title":"Date"},"description":"Дата в формате YYYY-MM-DD"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Response Get Available Hours Api Historical Available Hours Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/historical/slider-times":{"get":{"tags":["historical"],"summary":"Get Slider Times","description":"Получить рекомендуемые временные метки для слайдера карты.\n\nВозвращает список временных меток с интервалом в 1 час, начиная с указанного количества часов назад.\nИсключает временные метки, для которых нет достаточно данных.\n\nПараметры:\n- hours_back: количество часов назад (по умолчанию 24, максимум 48)\n\nВозвращает список строк в формате ISO 8601 (например: [\"2025-10-14T09:00:00\", \"2025-10-14T10:00:00\"])","operationId":"get_slider_times_api_historical_slider_times_get","parameters":[{"name":"hours_back","in":"query","required":false,"schema":{"type":"integer","maximum":48,"minimum":1,"description":"Количество часов назад для получения временных меток","default":24,"title":"Hours Back"},"description":"Количество часов назад для получения временных меток"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Response Get Slider Times Api Historical Slider Times Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/metrics":{"get":{"summary":"Metrics","description":"Endpoint that serves Prometheus metrics.","operationId":"metrics_metrics_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/":{"get":{"summary":"Root","description":"Root endpoint with API information.","operationId":"root__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/health":{"get":{"summary":"Health Check","description":"Health check endpoint for load balancers and monitoring.","operationId":"health_check_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"AirGradientCalendarItem":{"properties":{"date":{"type":"string","format":"date","title":"Date"},"avg_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm25","description":"Average PM2.5 (corrected, µg/m³)"},"avg_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm10","description":"Average PM10 (corrected, µg/m³)"},"avg_temp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Temp","description":"Average temperature (°C)"},"avg_humidity":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Humidity","description":"Average humidity (%)"},"avg_tvoc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Tvoc","description":"Average TVOC index"},"avg_nox":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Nox","description":"Average NOx index"}},"type":"object","required":["date"],"title":"AirGradientCalendarItem","description":"Schema for AirGradient calendar data."},"AirGradientDataWithLocation":{"properties":{"timestamp":{"type":"string","format":"date-time","title":"Timestamp"},"locationid":{"type":"string","title":"Locationid"},"locationname":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Locationname"},"pm01":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm01","description":"PM1.0 concentration (µg/m³)"},"pm02":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm02","description":"PM2.5 concentration (µg/m³)"},"pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm10","description":"PM10 concentration (µg/m³)"},"pm01_corrected":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm01 Corrected","description":"Corrected PM1.0 concentration (µg/m³)"},"pm02_corrected":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm02 Corrected","description":"Corrected PM2.5 concentration (µg/m³)"},"pm10_corrected":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm10 Corrected","description":"Corrected PM10 concentration (µg/m³)"},"pm003count":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm003Count","description":"0.3µm particle count"},"atmp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Atmp","description":"Ambient temperature (°C)"},"rhum":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Rhum","description":"Relative humidity (%)"},"atmp_corrected":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Atmp Corrected","description":"Corrected ambient temperature (°C)"},"rhum_corrected":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Rhum Corrected","description":"Corrected relative humidity (%)"},"tvoc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Tvoc","description":"Total volatile organic compounds (ppb)"},"tvocindex":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Tvocindex","description":"TVOC index (0-500)"},"noxindex":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Noxindex","description":"NOx index (0-500)"},"rco2":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Rco2","description":"CO2 concentration (ppm)"},"rco2_corrected":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Rco2 Corrected","description":"Corrected CO2 concentration (ppm)"},"wifi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Wifi","description":"WiFi signal strength (dBm)"},"locationType":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Locationtype"},"model":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Model"},"serialno":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Serialno"},"firmwareVersion":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Firmwareversion"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"}},"type":"object","required":["timestamp","locationid"],"title":"AirGradientDataWithLocation","description":"Schema for AirGradient data joined with location metadata."},"AirGradientPaginatedResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/AirGradientDataWithLocation"},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"limit":{"type":"integer","title":"Limit"},"offset":{"type":"integer","title":"Offset"}},"type":"object","required":["items","total","limit","offset"],"title":"AirGradientPaginatedResponse","description":"Schema for paginated AirGradient response."},"AirGradientStats":{"properties":{"date":{"type":"string","format":"date","title":"Date"},"locationid":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Locationid"},"locationname":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Locationname"},"avg_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm25","description":"Average PM2.5 (µg/m³)"},"min_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Pm25","description":"Minimum PM2.5 (µg/m³)"},"max_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Pm25","description":"Maximum PM2.5 (µg/m³)"},"avg_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm10","description":"Average PM10 (µg/m³)"},"min_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Pm10","description":"Minimum PM10 (µg/m³)"},"max_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Pm10","description":"Maximum PM10 (µg/m³)"},"avg_temp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Temp","description":"Average temperature (°C)"},"min_temp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Temp","description":"Minimum temperature (°C)"},"max_temp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Temp","description":"Maximum temperature (°C)"},"avg_humidity":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Humidity","description":"Average humidity (%)"},"min_humidity":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Humidity","description":"Minimum humidity (%)"},"max_humidity":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Humidity","description":"Maximum humidity (%)"},"avg_tvoc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Tvoc","description":"Average TVOC index"},"min_tvoc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Tvoc","description":"Minimum TVOC index"},"max_tvoc":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Tvoc","description":"Maximum TVOC index"},"avg_nox":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Nox","description":"Average NOx index"},"min_nox":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Nox","description":"Minimum NOx index"},"max_nox":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Nox","description":"Maximum NOx index"},"count":{"type":"integer","title":"Count","description":"Number of measurements"}},"type":"object","required":["date","count"],"title":"AirGradientStats","description":"Schema for AirGradient statistics."},"CalendarItem":{"properties":{"date":{"type":"string","format":"date","title":"Date"},"avg_pm25":{"type":"number","title":"Avg Pm25"}},"type":"object","required":["date","avg_pm25"],"title":"CalendarItem","description":"Schema for calendar item."},"DailyStats":{"properties":{"date":{"type":"string","format":"date-time","title":"Date"},"avg_pm25":{"type":"number","title":"Avg Pm25"},"min_pm25":{"type":"number","title":"Min Pm25"},"max_pm25":{"type":"number","title":"Max Pm25"},"count":{"type":"integer","title":"Count"},"district":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"},"station_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Station Id"}},"type":"object","required":["date","avg_pm25","min_pm25","max_pm25","count"],"title":"DailyStats","description":"Schema for daily statistics."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IQAirCalendarItem":{"properties":{"date":{"type":"string","format":"date","title":"Date"},"avg_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Aqi"},"avg_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm25"},"avg_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm10"},"avg_no2":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg No2"},"avg_so2":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg So2"},"avg_co":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Co"}},"type":"object","required":["date"],"title":"IQAirCalendarItem","description":"Daily aggregated IQAir data for calendar view."},"IQAirDataWithStation":{"properties":{"id":{"type":"string","title":"Id"},"ts":{"type":"string","format":"date-time","title":"Ts","description":"Timestamp in Asia/Almaty timezone (UTC+05:00)"},"aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Aqi","description":"Overall Air Quality Index"},"pm25_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm25 Aqi","description":"PM2.5 AQI"},"pm10_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm10 Aqi","description":"PM10 AQI"},"no2_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"No2 Aqi","description":"NO2 AQI"},"so2_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"So2 Aqi","description":"SO2 AQI"},"co_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Co Aqi","description":"CO AQI"},"pm25_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm25 Concentration","description":"PM2.5 concentration (µg/m³)"},"pm10_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm10 Concentration","description":"PM10 concentration (µg/m³)"},"no2_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"No2 Concentration","description":"NO2 concentration (ppb)"},"so2_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"So2 Concentration","description":"SO2 concentration (ppb)"},"co_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Co Concentration","description":"CO concentration (ppm)"},"pm25_estimated":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm25 Estimated","description":"Estimated PM2.5"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Station name"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City","description":"City"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source"},"contributor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contributor"}},"type":"object","required":["id","ts"],"title":"IQAirDataWithStation","description":"IQAir data with station metadata."},"IQAirPaginatedResponse":{"properties":{"items":{"items":{"$ref":"#/components/schemas/IQAirDataWithStation"},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"limit":{"type":"integer","title":"Limit"},"offset":{"type":"integer","title":"Offset"}},"type":"object","required":["items","total","limit","offset"],"title":"IQAirPaginatedResponse","description":"Paginated response for IQAir data."},"IQAirStation":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"city":{"type":"string","title":"City"},"latitude":{"type":"number","title":"Latitude"},"longitude":{"type":"number","title":"Longitude"},"isactive":{"type":"boolean","title":"Isactive"},"haslowcostsensor":{"type":"boolean","title":"Haslowcostsensor"},"isdailyaverage":{"type":"boolean","title":"Isdailyaverage"},"source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source"},"contributor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contributor"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"}},"type":"object","required":["id","name","city","latitude","longitude","isactive","haslowcostsensor","isdailyaverage"],"title":"IQAirStation","description":"IQAir station metadata."},"IQAirStats":{"properties":{"date":{"type":"string","format":"date","title":"Date"},"station_id":{"type":"string","title":"Station Id"},"station_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Station Name"},"avg_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm25"},"min_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Pm25"},"max_pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Pm25"},"avg_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Pm10"},"min_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Pm10"},"max_pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Pm10"},"avg_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Aqi"},"min_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Aqi"},"max_aqi":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Aqi"},"count":{"type":"integer","title":"Count","default":0}},"type":"object","required":["date","station_id"],"title":"IQAirStats","description":"Daily statistics for IQAir data."},"NO2Hourly":{"properties":{"datetime":{"type":"string","format":"date-time","title":"Datetime"},"id":{"type":"string","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"no2":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"No2"},"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat"},"lon":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lon"},"district":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"},"origin":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"},"source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["datetime","id"],"title":"NO2Hourly","description":"Schema for NO2 hourly data."},"PM10Hourly":{"properties":{"datetime":{"type":"string","format":"date-time","title":"Datetime"},"id":{"type":"string","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"pm10":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm10"},"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat"},"lon":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lon"},"district":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"},"origin":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"},"source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["datetime","id"],"title":"PM10Hourly","description":"Schema for PM10 hourly data."},"PM25Hourly":{"properties":{"datetime":{"type":"string","format":"date-time","title":"Datetime"},"id":{"type":"string","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"pm25":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pm25"},"lat":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lat"},"lon":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lon"},"district":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"District"},"origin":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Origin"},"source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["datetime","id"],"title":"PM25Hourly","description":"Schema for PM2.5 hourly data."},"PaginatedResponse":{"properties":{"items":{"items":{},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"limit":{"type":"integer","title":"Limit"},"offset":{"type":"integer","title":"Offset"}},"type":"object","required":["items","total","limit","offset"],"title":"PaginatedResponse","description":"Schema for paginated response."},"Station":{"properties":{"id":{"type":"string","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"lat":{"type":"number","title":"Lat"},"lon":{"type":"number","title":"Lon"},"origin":{"type":"string","title":"Origin"}},"type":"object","required":["id","lat","lon","origin"],"title":"Station","description":"Schema for station data."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}},"tags":[{"name":"city","description":"Real-time city-wide air quality average for Almaty. Combines data from AirGradient and IQAir networks."},{"name":"airgradient","description":"AirGradient sensor network data. 172 outdoor locations with PM1.0/PM2.5/PM10, temperature, humidity, TVOC and NOx indices."},{"name":"iqair","description":"IQAir monitoring stations data. 97 stations with AQI, PM2.5, PM10, NO2, SO2, CO measurements."},{"name":"pm25","description":"Fine particulate matter (PM2.5) measurements. Primary air quality indicator with hourly data and statistics."},{"name":"pm10","description":"Coarse particulate matter (PM10) measurements and statistics."},{"name":"no2","description":"Nitrogen dioxide (NO2) measurements. Primary traffic-related pollutant."},{"name":"stations","description":"Air quality monitoring station metadata including coordinates and status."},{"name":"stats","description":"Daily aggregated statistics for all pollutants by district or station."},{"name":"metrics","description":"External API metrics for data visualization."},{"name":"historical","description":"Historical data for map time slider."},{"name":"ratings","description":"District air quality rankings based on PM2.5 and NO2 measurements."}]}